/* Estilos generales para el cuerpo */
body {
    /* Estilos generales para el cuerpo */
    background-image: url("img/fondonubes.jpg"); /* Ruta de la imagen */
    /* Define la imagen de fondo */
    background-repeat: no-repeat; /* No repite la imagen */
    /* Evita que la imagen se repita */
    background-size: cover; /* Cubre todo el fondo */
    /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    /* Centra la imagen de fondo */
    font-family: 'Bradley Hand ITC', cursive; /* Cambia la fuente */
    /* Define la fuente del texto */
    background-color: #121212; /* Negro oscuro */
    /* Define el color de fondo */
    color: #0f0f0f; /* Blanco */
    /* Define el color del texto */
    margin: 0; /* Elimina el margen predeterminado */
    /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado */
    /* Elimina el relleno predeterminado del cuerpo */
  }
  
  /* Estilos para el encabezado */
  header {
    /* Estilos para el encabezado */
    text-align: center; /* Centra el texto */
    /* Centra el texto del encabezado */
    padding: 50px 0; /* Agrega espacio arriba y abajo */
    /* Agrega espacio arriba y abajo del encabezado */
  }
  
  /* Estilos para el título principal */
  h1 {
    /* Estilos para el título principal */
    font-size: 5em; /* Ajusta el tamaño del título */
    /* Ajusta el tamaño del título */
    font-weight: bold; /* Agrega negrita */
    /* Agrega negrita al título */
    margin-bottom: 20px;
    /* Agrega margen inferior al título */
    color: #0d0d0e; /* Blanco */
    /* Define el color del título */
  }
  
  /* Estilos para el subtítulo */
  h2 {
    /* Estilos para el subtítulo */
    font-size: 2em; /* Ajusta el tamaño del título */
    /* Ajusta el tamaño del subtítulo */
    margin-bottom: 40px;
    /* Agrega margen inferior al subtítulo */
    color: #0d0d0e; /* Blanco */
    /* Define el color del subtítulo */
  }
  
  /* Estilos para el contenido principal */
  main {
    /* Estilos para el contenido principal */
    text-align: center; /* Centra el texto */
    /* Centra el texto del contenido principal */
    padding: 30px; /* Agrega espacio alrededor */
    /* Agrega espacio alrededor del contenido principal */
  }
  
  /* Estilos para el formulario */
  form {
    /* Estilos para el formulario */
    display: flex; /* Flexbox para un diseño flexible */
    /* Usa Flexbox para un diseño flexible */
    flex-direction: column; /* Orienta los elementos verticalmente */
    /* Orienta los elementos del formulario verticalmente */
    align-items: center; /* Alinea los elementos al centro */
    /* Alinea los elementos del formulario al centro */
    gap: 20px; /* Espacio entre los elementos */
    /* Agrega espacio entre los elementos del formulario */
  }
  
  /* Estilos para las etiquetas */
  label {
    /* Estilos para las etiquetas */
    font-size: 1.5em; /* Ajusta el tamaño de fuente */
    /* Ajusta el tamaño de fuente de las etiquetas */
    font-weight: bold; /* Agrega negrita */
    /* Agrega negrita a las etiquetas */
  }
  
  /* Estilos para los campos de entrada */
  input {
    /* Estilos para los campos de entrada */
    width: 50%; /* Ajusta el ancho de las respuestas */
    /* Ajusta el ancho de los campos de entrada */
    padding: 15px; /* Aumenta el espacio de las respuestas */
    /* Aumenta el espacio de las respuestas */
    border: 1px solid #fff;
    /* Agrega un borde blanco */
    border-radius: 5px;
    /* Redondea las esquinas */
    font-size: 1.2em;
    /* Ajusta el tamaño de fuente */
    text-align: center; /* Centra el mensaje */
    /* Centra el texto del mensaje */
  }
  
  /* Estilos para el botón */
  button {
    /* Estilos para el botón */
    background-color: #007bff; /* Azul claro Litecoin */
    /* Define el color de fondo del botón */
    color: #fff;
    /* Define el color del texto del botón */
    padding: 15px 30px;
    /* Agrega espacio interno al botón */
    border: none;
    /* Elimina el borde del botón */
    border-radius: 25px; /* Bordes curvos */
    /* Redondea las esquinas del botón */
    font-size: 1.5em; /* Ajusta el tamaño del título */
    /* Ajusta el tamaño de fuente del texto del botón */
    cursor: pointer;
    /* Cambia el cursor a una mano al pasar el mouse */
  }
  
  /* Estilos para el pie de página */
  footer {
    /* Estilos para el pie de página */
    display: flex;
    /* Usa Flexbox para un diseño flexible */
    justify-content: space-around; /* Distribuye los botones */
    /* Distribuye los botones del pie de página */
    padding: 30px;
    /* Agrega espacio alrededor del pie de página */
  }
  
  /* Estilos para el botón "Atrás" */
  .atras {
    /* Estilos para el botón "Atrás" */
    margin-right: 20px; /* Espacio entre botones */
    /* Agrega espacio a la derecha del botón */
  }
  
  /* Estilos para el botón "Siguiente" */
  .siguiente {
    /* Estilos para el botón "Siguiente" */
    margin-left: 20px; /* Espacio entre botones */
    /* Agrega espacio a la izquierda del botón */
  }
  
  /* Estilos para los mensajes de error */
  span {
    /* Estilos para los mensajes de error */
    color: red; /* Color rojo para los mensajes de error */
    /* Define el color del texto del mensaje de error */
    font-size: 0.8em; /* Ajusta el tamaño de fuente */
    /* Ajusta el tamaño de fuente del mensaje de error */
    margin-bottom: 10px;
    /* Agrega margen inferior al mensaje de error */
    display: none; /* Oculta el mensaje de error por defecto */
    /* Oculta el mensaje de error por defecto */
  }